<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p><%= @user.name %> さんの面接希望日が決まりました。</p>
    </br>
    <p>以下の URL から、面接日時の承認をよろしくお願いします。</p>
    </br>
    <p><%= @url %></p>
  </body>
</html>
